<form>
  <div class="form-group">
    <label for="signupEmail">Email <address></address></label>
    <input type="email" class="form-control" id="signupEmail"
      placeholder="Escribe tu correo">
  </div>
  <div class="form-group">
    <label for="signupName">Nombre <address></address></label>
    <input type="email" class="form-control" id="signupName"
      placeholder="Escribe tu nombre">
  </div>
  <div class="form-group">
    <label for="signupFirstLastName">Apellido paterno <address></address></label>
    <input type="email" class="form-control" id="signupFirsLastName"
      placeholder="Escribe tu apellido paterno">
  </div>
  <div class="form-group">
    <label for="signupSecondLastName">Apellido materno <address></address></label>
    <input type="email" class="form-control" id="signupSecondLastName"
      placeholder="Escribe tu apellido materno">
  </div>
  <div class="form-group">
    <label for="signupUserName">Nombre de usuario <address></address></label>
    <input type="email" class="form-control" id="signupUserName"
      placeholder="Escribe tu nombre de usuario">
  </div>
  <div class="form-group">
    <label for="signupPasword">Contraseña</label>
    <input type="password" class="form-control" id="signupPassword" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="signupPassword1Confirm">Comfirmar contraseña</label>
    <input type="password" class="form-control" id="signupPassword1Confirm" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Register</button>
</form>