<form class="card mt-3">
  <div class="card-body">



    <div class="form-group">
      <label for="signupEmail">Email <address></address></label>
      <input type="email" class="form-control" id="signupEmail" placeholder="Escribe tu correo">
    </div>
    <div class="form-group">
      <label for="signupName">Nombre <address></address></label>
      <input type="text" class="form-control" id="signupName" placeholder="Escribe tu nombre">
    </div>
    <div class="form-group">
      <label for="signupFirstLastName">Apellido paterno <address></address></label>
      <input type="text" class="form-control" id="signupFirsLastName" placeholder="Escribe tu apellido paterno">
    </div>
    <div class="form-group">
      <label for="signupSecondLastName">Apellido materno <address></address></label>
      <input type="text" class="form-control" id="signupSecondLastName" placeholder="Escribe tu apellido materno">
    </div>
    <div class="form-group">
      <label for="signupUserName">Nombre de usuario <address></address></label>
      <input type="text" class="form-control" id="signupUserName" placeholder="Escribe tu nombre de usuario">
    </div>

    <div class="form-group custom-icon">
      <label for="signupPasword">{{ passText }}</label>
      <input [type]="passwordPreviews.first ? 'password' : 'text'" class="form-control" id="signupPassword" [placeholder]="passText">
      <span class="preview-icon" (click)="passwordPreviews.first = !passwordPreviews.first">
        <fa-icon [icon]="passwordPreviews.first ? 'eye-slash' : 'eye'"></fa-icon>
      </span>
    </div>

    <div class="form-group custom-icon">
      <label for="signupPassword1Confirm">Confirmar contraseña</label>
      <input [type]="passwordPreviews.confirm ? 'password' : 'text'" class="form-control" id="signupPassword1Confirm" placeholder="Password">
      <span class="preview-icon" (click)="passwordPreviews.confirm = !passwordPreviews.confirm">
          <fa-icon [icon]="getIcon(passwordPreviews.confirm)"></fa-icon>
        </span>
    </div>
    <button type="submit" class="btn btn-primary btn-block" (click)="signup($event)">Register</button>
  </div>
</form>
